DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
DB_NAME=

JWT_SECRET_KEY=

CAPTCHA_KEY=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_ADDR=
EMAIL_PWD=
EMAIL_CLIENTID=
EMAIL_CLIENT_SECRET=
REDIRECT_URL=
REFRESH_TOKEN=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=
